@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET MVC Project: Course-wise Student Management</h1>
    <p class="lead">Project Developed using MVC5, EF6 Code First with Boostrap 4.</p>
    <p>Subitted by: Faisal Hossain, Id-1246531</p>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Instructuion</h3>
                <p class="card-text">Register or login using username: user@mysite.com and password: @@Open123</p>
            </div>
            
        </div>
    </div>
    
</div>